#rosette {

    height: 95px;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 95px;

    &:after {

        background-color: #69c;
        box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
        color: #fff;
        content: "Github";
        font-size: 16px;
        margin: 10px -170px 0 0;
        padding: 10px 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        transform: rotate(45deg);
        transform-origin: center center;
        transition: .3s;
        width: 400px;
        z-index: 0;

    }

}